.forecast-slider-label {
  margin-top: 50px;
}

.forecast-slider-container {
  width: 350px;
}

.forecast-slider {
  width: 100%;
}

.forecast-slider-labels-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

datalist {
  display: none;
}